.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  background-color: rgb(247, 247, 9);
}

.feedback-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px 27px;
  background-color: rgba(231, 1, 162, 0.973);
  width: 88%;
  margin-bottom: 17px;
  border-radius: 20px;
  color: #fff;
  height: 22rem;
}

.feedback-box h2 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  text-align: center;
}

.que-ans {
  color: rgb(4, 33, 161);
  font-size: 1.6rem;
  /* margin-bottom: 0.6rem; */
}

.feedback-box textarea{
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: rgb(246, 249, 252);
  color: rgb(100, 99, 99);
  height: 11rem;
}
.feedback-box textarea:active, 
.feedback-box textarea:hover {
  border: none;
}

.feed-submit-btn{
  font-size: 1.1rem;
  height: 50px;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  background-color: #0677e0;
  color: #fff;
  border: none;
  cursor: pointer;
}